<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="icon" type="image/png" sizes="16*16" href="https://connectoricons-prod.azureedge.net/releases/v1.0.1436/1.0.1436.2319/teams/icon.png">
  <title>Team Picker</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
     
      <a class="navbar-brand" href="#" style="color: rgb(72, 185, 230); font-size: 25px;" 
      ><b>Super Team Picker</b></a>
      
      <div class="form-inline my-2 my-lg-0" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="/"style="color: rgb(72, 185, 230)">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cohorts"style="color: rgb(72, 185, 230)">Cohorts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/cohorts/new"style="color: rgb(72, 185, 230)">New Cohort</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <style>
    .nav-item a:hover{
      background-color: rgb(218, 221, 224);
    }
    .nav-item a:active {
      background-color:rgb(163, 157, 157);
    }
   
  </style>
  <div class="container" style="background-image: url(https://www.productplan.com/uploads/2019/01/product-team-structure.jpeg); background-position: center;background-size: cover; padding-bottom: 12rem; padding-top: 3rem;">